<!DOCTYPE html>
<html>
  <head>
    <title>Jeanne And Cuneyt</title>
    <link type="text/css" rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header class="centered-navigation" role="banner">
      <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
            <li class="nav-link"><a href="javascript:void(0)" onclick="location.href='index.html';">Home</a></li>
            <li class="nav-link"><a href="javascript:void(0)" onclick="location.href='about_us.html';">About Us</a></li>
            <li class="nav-link"><a href="javascript:void(0)" onclick="location.href='venue.html';">Venue</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="image-gradient-dynamic">
      <img src="../pictures/IMG_9492.JPG" alt="">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../script.js"></script>
  </body>
</html>
