.main-picture img {
  max-width: 100%;
  max-height: 200em;
  box-shadow: 0px 0px 10px 0px;
}

.location-picture img {
  max-width: 100%;
  max-height: 200em;
  box-shadow: 0px 0px 10px 0px;
}

figure img {
  box-shadow: 0px 0px 10px 0px;
}
