@font-face {
  font-family: 'roboto-medium';
  src: url('../../fonts/roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'stamped-envelope';
  src: url('../fonts/StampedEnvelopes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// body h1 {
//   font-family: 'stamped-envelope';
// }
