#rsvp-image {
  background: url("https://raw.githubusercontent.com/emresurmeli/jandc/gh-pages/pictures/IMG_9492.JPG") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: beige;
  height: 100em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#rsvp-text {
  color: #ffffff;
  padding: 8em 0;
  position: relative;
  z-index: 9;
  font-size: 40px;
}

#rsvp-button {
  background-color: #cccc00;
}

@media screen and (max-width: 736px) {
  #rsvp-image {
    height: 736px;
  }

  #rsvp-text {
    font-size: 25px;
  }
}

#rsvp-container {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
